<%#form_for :url => url_for(:controller => 'heroines_controller', :action => 'filter'), method: "post" do |f|%>
<%#f.collection_select :input, Power.all, :id, :name, prompt: true %>
<%# f.submit %>
<%#end%>
<h2>All Heroines</h2>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine_path(heroine) %>
    </li>
    <br>
  <% end %>
</ul>
